@import "tailwindcss";

.background {
  width: 100vw; /* full width */
  height: 100vh; /* full height */
  background-image: url("../public/image/background.jpg");
  background-size: cover; /* cover whole area */
  background-position: center; /* center the image */
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* black with 50% opacity */
  backdrop-filter: blur(5px); /* optional: adds blur effect */
  display: flex;
  align-items: center;
  justify-content: center;
}

@theme {
  --color-primary-hero: #7fa5f9;
  --color-secondry-hero: #8190bb;
  --color-text-hero: #f5f9ff;
  --color-accent-hero: #eee8a9;
}
