@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
  /* gradients */

  /* Navy */

  /* button */
  --color-normalbtn-default: #1c4a8c;
  --color-normalbtn-hover: #123267;

  /* danger button */
  --color-dangerbtn-default: #c53737;
  --color-dangerbtn-hover: #af3434;

  /* Container */
  --color-hero-container: #f7f9fc;
  --color-child-container: #dce7f5;

  /* input */
  --color-input-container: #dce7f5;

  /* text colors */
  --color-danger-text: #b75c3c;
  --color-secondry-text: #123267;
}

:root {
  /* NormalButton color */
  --normalbtn-default: #1c4a8c;
  --normalbtn-hover: #123267;
  /* dangerButton color */
  --dangerbtn-default: #c53737;
  --dangerbtn-hover: #af3434;

  /* InputContainer color */
  --input-container: #dce7f5;
  /* containers colors */
  --child-container: #dce7f5;

  /* danger text */
  --color-danger-text: #b75c3c;

  --sx-color-primary: #123267;
  --sx-color-on-primary: #ffffff;
  --sx-color-primary-container: #ffe8dd;
  --sx-color-on-primary-container: #440000;

  /* optional: if you want to change secondary / surface colors too */
  --sx-color-secondary: #795548;
  --sx-color-on-secondary: #ffffff;
  --sx-color-surface: #fafafa;
  --sx-color-on-surface: #1c1b1f;
}

/* group custom styling */

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: bold;
  font-size: var(--text-4xl);
  text-shadow: 0px 1px 0px var(--tw-text-shadow-color, rgb(0 0 0 / 0.15));
}

h2 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: bold;
  font-size: var(--text-2xl);
  text-shadow: 0px 1px 0px var(--tw-text-shadow-color, rgb(0 0 0 / 0.15));
}

h2 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: bold;
  font-size: var(--text-xl);
  text-shadow: 0px 1px 0px var(--tw-text-shadow-color, rgb(0 0 0 / 0.15));
}

/* navbar hover */

.hover-fade {
  transition-property: opacity;
  transition-timing-function: ease-out;
  transition-duration: 450ms;
}

.hover-fade:hover {
  transition-duration: 1350ms; /* fade-in duration */
}

.hover-fade:not(:hover) {
  transition-duration: 150ms; /* fade-out duration */
}

/* Calender styling */

.sx-react-calendar-wrapper {
  width: 100%;
  height: 100%;
}

/* Utils */

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.normalButton {
  min-width: 150px;
  border-radius: 0.75rem;
  text-align: center;
  padding: 0.5rem;
  background: var(--normalbtn-default);
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
  transition: color 0.2s;
  transition: transform 0.08s ease, box-shadow 0.08s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
}

.normalButton:hover {
  background: var(--normalbtn-hover);
}

.dangerButton {
  min-width: 150px;
  border-radius: 0.75rem;
  text-align: center;
  padding: 0.5rem;
  background: var(--dangerbtn-default);
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
  transition: color 0.2s;
  transition: transform 0.08s ease, box-shadow 0.08s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
}

.dangerButton:hover {
  background: var(--dangerbtn-hover);
}

/*button click effect  */
.dangerButton:active,
.normalButton:active {
  transform: scale(0.96);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.normalInput {
  background-color: var(--input-container);
  width: 100%;
  border-radius: 0.75rem;
  border: 1px solid black;
  padding: 0.5rem;
}

.coursesChildContainer {
  background-color: var(--child-container); /* replace with actual color */
  width: 100%;
  height: 180px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* shadow-md + black/20 */
  border-radius: 0.5rem; /* rounded-lg */
  padding: 1rem; /* p-4 */
  text-align: center;
}
