@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
  /* gradients */

  /* Navy */

  /* button */
  --color-normalbtn-default: #1c4a8c;
  --color-normalbtn-hover: #123267;

  /* danger button */
  --color-dangerbtn-default: #c53737;
  --color-dangerbtn-hover: #af3434;

  /* Container */
  --color-hero-container: #f7f9fc;
  --color-child-container: #dce7f5;

  /* input */
  --color-input-container: #dce7f5;

  /* text colors */
  --color-danger-text: #b75c3c;
}

/* group custom styling */

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: bold;
  font-size: var(--text-4xl);
  text-shadow: 0px 1px 0px var(--tw-text-shadow-color, rgb(0 0 0 / 0.15));
}

h2 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: bold;
  font-size: var(--text-2xl);
  text-shadow: 0px 1px 0px var(--tw-text-shadow-color, rgb(0 0 0 / 0.15));
}

h2 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: bold;
  font-size: var(--text-xl);
  text-shadow: 0px 1px 0px var(--tw-text-shadow-color, rgb(0 0 0 / 0.15));
}

/* navbar hover */

.hover-fade {
  transition-property: opacity;
  transition-timing-function: ease-out;
  transition-duration: 450ms;
}

.hover-fade:hover {
  transition-duration: 1350ms; /* fade-in duration */
}

.hover-fade:not(:hover) {
  transition-duration: 150ms; /* fade-out duration */
}

/* Calender styling */

.sx-react-calendar-wrapper {
  width: 100%;
  height: 100%;
}

/* Utils */

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
